.cont_DisplayEditInputBox {
  /* border: 1px solid; */
  width: 100%;
  font-size: large;
  color: black;
  position: relative;
}
.text_DisplayEditInputBox {
  /* border: 1px solid; */
  display: flex;
  padding: 0.35rem;
}

.ibox_DisplayEditInputBox {
  font-size: large;
  width: 100%;
  color: black;
  padding: 0.4rem;
}


/***************btns EDIT DONE DEL */
.Ebtn_app,
.Del_app,
.Done_app {
  padding-left: 0.7rem;
  color: grey;
  cursor: pointer;
  margin: auto 0;
}
.Ebtn_app:hover,
.Done_app:hover {
  color: blue;
}
.Del_app:hover {
  color: red;
}
.Done_app {
  position: absolute;
  top: 10px;
  right: 10px;
  
}
