.cont_DisplayEditInputBox {
  /* border: 0.2px solid; */
  width: 100%;
  font-size: large;
  color: black;
  position: relative;
}
.text_DisplayEditInputBox {
  /* border: 0.2px solid; */
  display: flex;
  padding: 0.35rem;
  position: relative;
}
.btns{
  background-color: whitesmoke;
  position: absolute;
  right: 0;
  
}
.ibox_DisplayEditInputBox {
  font-size: large;
  width: 100%;
  color: black;
  resize: none;
  overflow-y: auto;
  padding: 0.4rem;
  border-radius: 0.2rem;
  box-shadow: 0.2px 0.2px 0.2px rgba(128, 128, 128, 0.348), -0.2px 0.2px 0.2px rgba(128, 128, 128, 0.507), 0.2px -0.2px 0.2px rgba(128, 128, 128, 0.496),
  -0.2px -0.2px 0.2px rgba(128, 128, 128, 0.459);

  outline: none;
}

/***************btns EDIT DONE DEL */
.Ebtn_app,
.Del_app,
.Done_app {
  padding-left: 0.7rem;
  color: grey;
  cursor: pointer;
  margin: auto 0;
}
.Ebtn_app:hover,
.Done_app:hover {
  color: blue;
}
.Del_app:hover {
  color: red;
}
.Done_app {
  position: absolute;
  top: 10px;
  right: 10px;
}
