
.Inside_comment_num_forum {
  cursor: pointer;
  border: 2px solid rgba(0, 0, 0, 0.641);
  margin: 4px 1px;
  display: flex;
  font-weight: 600;
  border-radius: 10px;
  position: relative;
  background-color: rgb(247, 252, 244);
}
.comments_num_forum {
  display: flex;
  flex-direction: column;
  padding: 1rem 0.5rem;
  border-right: 2px solid grey;
  margin: 0.2rem;
}
.comments_num_forum i {
  margin: auto;
}
.doubt_forum {
  position: relative;
  text-decoration: none;
  color: black;
  margin: auto 0;
  padding: 0.3rem;
  flex-grow: 1;
  min-height: 4rem;
  transition: all 0.5s;
  overflow-wrap: break-word;
}
.doubt_forum:hover {
    color: rgb(83, 27, 195);
    font-size: 1.5rem;
 }
.btns_insideForum{
    right: 0;
    height: 100;
    width: 1.5rem;
    border-radius: 17%;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}