.heading_service {
  border-bottom: 5px solid;
  text-align: center;
  font-size: 3rem;
  font-weight: bolder;
  color: rgb(41, 33, 101);
  position: relative;
}
.services_list {
  padding: 0.5rem 0;
}
.cont_serviceN {
  margin: 0.5rem;
  border: 2px solid;
  padding: 0.5rem;
  text-align: center;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  color: rgb(32, 20, 15);
  font-weight: bold;
  height: 3rem;
  cursor: pointer;
  transition: all 1s;
}
.cont_serviceN:hover {
  padding: 0.4rem;
  font-size: 1.5rem;
  color: rgb(19, 161, 161);
}
.add_new_serv_btn {
  position: absolute;
  font-size: 1rem;
  background-color: black;
  color: white;
  border: 2px solid;
  padding: 0.5rem;
  border-radius: 2rem;
  top: 0;
  right: 0;
  cursor: pointer;
}
.add_new_serv_btn:hover {
  color: orange;
}
