.container_Slides {
  width: 100%;
  height: 100%;
  overflow-x: auto;
  box-shadow: 1px 1px 5px grey, -1px 1px 5px grey, 1px -1px 5px grey,
    -1px -1px 5px grey;
  margin: 0.3rem;
}
.img_Slider {
  width: 100%;
  height: 30vw;
  size: 100% 100%;
}
.img_c {
  position: relative;
}

.leftRight_IMg_Mover {
  position: absolute;
  top: 0%;
  height: 100%;
  display: flex;
  cursor: pointer;
  transition: all 1s;
  width: 3rem;
  color: rgba(128, 128, 128, 0.558);
}
.leftRight_IMg_Mover:hover {
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0.322);
}
