.label_FormSubmit {
  font-weight: bold;
  width: 50%;
  margin: auto 0;
  text-align: left;
}
.inputTag_FormSubmit {
  margin: auto 0;
  text-align: left;
  padding: 0.2rem;
  width: 50%;
  display: flex;
}
.input_formSubmit {
  width: 70%;
}
.submitBtn_formSubmit {
  width: 100%;
  text-align: center;
}
